.App {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header div p{
  font-size: 25px;
  background-color: orange;
  border: 2px solid black;
  border-radius: 10px;
}

